:root {
  --black: #000;
  --red: #ffe066;
  --beige: #80dfff;
  --grayish: #adebad;
  --brown: #ff4d4d;
}

html {
  font-size: 8px;
  
}

.container {
  background-color: var(--beige);
  box-shadow: 0 0 2rem -.5rem rgba(0, 0, 0, .9);
  height: 70rem;
  margin: 10rem ;
  // margin-left: 30%;
  border-radius: 2.3em;
  overflow: hidden;
  // position: relative;
  width: 55rem;
}

.bauhaus {
  display: grid;
  grid-template-columns: 
    2rem 7rem 5.5rem 3.5rem 3.5rem 7.75rem;
  grid-template-rows:
    13rem 5rem 3rem 3.25rem 2rem .75rem 1.5rem
    6.25rem 1.75rem 1.5rem 5.5rem 10rem;
  margin: 10rem auto;
  transform: rotate(-25deg) translateX(4rem);
  width: 29.25rem;
}

.top-circle {
  border-width: 5rem;
  border-color: var(--black) var(--black) var(--red) var(--red);
  border-style: solid;
  border-radius: 50%;
  grid-area: 1/1/3/5;
  position: relative;
  transform: rotate(45deg);
  
  // The face in the circle
  &::before {
    background-image:
      linear-gradient(0deg, var(--brown), var(--brown)),
      linear-gradient(0deg, var(--brown), var(--brown)),
      linear-gradient(0deg, var(--brown), var(--brown)),
      linear-gradient(0deg, var(--brown), var(--brown)),
      linear-gradient(0deg, var(--brown), var(--brown));
    background-size:
      .4rem 4.5rem,
      .6rem 2.25rem,
      .7rem 2.5rem,
      .4rem .4rem,
      1.2rem 1rem;
    background-repeat: no-repeat;
    background-position: 
      3rem 0,
      3.4rem 4.5rem,
      4rem 6.75rem,
      3.9rem 5rem,
      4.7rem 2rem;
    background-radius: 50%;
    content: '';
    display: block;
    height: 8rem;
    overrflow: hidden;
    transform: rotate(-45deg);
    width: 8rem;
  }
  
  &::after {
    background-color: var(--black);
    content: '';
    display: block;
    position: absolute;
    right: -6.1rem;
    bottom: 1rem;
    transform: rotate(-45deg);
    width: 5rem;
    height: 9rem;
  }
}

.top-circle-text {
  grid-area: 1/3/3/5;
}

.text-bauhaus {
  transform: translateY(-6rem);
  width: 16rem;
  
  textPath {
    fill: var(--black);
    font-size: 9.3rem;
    font-family: "Baumans";
    line-height: 1;
    text-transform: uppercase;
  }
}

.top-circle-text-left {
  grid-area: 1/1/3/3;
  justify-self: right;
  position: relative;
}

.text-staatlich {
  transform: translateY(-7.5rem);
  width: 16rem;
  
  textPath {
    fill: var(--brown);
    font-size: 4rem;
    font-family: "Baumans";
    line-height: 1;
    text-transform: uppercase;
    writing-mode: rtl;
  }
}


.black-square-1 {
  background-color: var(--black);
  grid-area: 2/3/5/5;
}

.black-square-2 {
  background-color: var(--red);
  grid-area: 5/3/6/7;
}

.black-square-3 {
  background-color: var(--black);
  grid-area: 7/5/12/6;
}

.black-square-4 {
  background-color: var(--black);
  grid-area: 9/2/10/4;
}

.black-moon {
  background-color: var(--brown);
  border-radius: 0 0 10rem 10rem;
  grid-area: 12/2/13/6;
}

.brown-arch {
  border-color: var(--black);
  border-style: solid;
  border-width: .2rem .2rem 0 0;
  border-radius: 0 7.75rem 0 0;
  grid-area: 2/6/4/7;
  position: relative;
}

.brown-arch-small {
  border-color: var(--black) transparent transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: .2rem;
  bottom: -1.5rem;
  height: 2.6rem;
  left: -1.5rem;
  transform: rotate(45deg);
  position: absolute;
  width: 2.6rem;
}

.black-dot {
  border-color: transparent var(--black) var(--black);
  border-radius: 50%;
  border-style: solid;
  border-width: 1.5rem;
  bottom: -1.5rem;
  left: -1.5rem;
  transform: rotate(45deg);
  position: absolute;
}

.gray-square-1 {
  background-color: var(--grayish);
  grid-area: 8/3/9/4;
  position: relative;
  text-align: center;
  
  span {
    bottom: 0;
    font-size: 2rem;
    left: 0;
    letter-spacing: .25rem;
    line-height: 1;
    position: absolute;
    width: 100%;
  }
}

.gray-square-2 {
  background-color: var(--grayish);
  grid-area: 10/2/11/4;
}

.gray-square-3 {
  background-color: var(--grayish);
  grid-area: 2/5/5/6;
}

.gray-square-4 {
  background-color: var(--grayish);
  grid-area: 4/6/5/7;
}

.red-square-1 {
  background-color: var(--red);
  grid-area: 7/3/7/7;
}

.red-square-2 {
  background-color: var(--red);
  grid-area: 7/6/9/7;
}

.text-1923 {
  grid-area: 9/6/10/7;
  font-size: 2rem;
  letter-spacing: .25rem;
  text-align: center;
}

.text-weimar {
  grid-area: 11/2/12/4;
  font-size: 2.5rem;
  letter-spacing: .55rem;
  text-align: center;
}

.text-ausstellung {
  align-self: end;
  grid-area: 5/1/6/3;
  font-size: 2.5rem;
  justify-self: end;
  letter-spacing: .45rem;
  line-height: 2rem;
  text-align: left;
  
  &:first-letter {
    font-size: 7rem;
  }
}

.text {
  font-family: "Baumans";
  text-transform: uppercase;
}
/* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  background: #ff3399;
  padding: 10px;
}

.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}

.user-profile {
  margin: auto;
	width: 65em; 
  // height: 100em;
  background: #fff;
  border-radius: 2.3em;
  // float:left;
}

.user-profile  .username {
  margin: auto;
  margin-top: -2.40em;
  margin-left: 3em;
  color: #658585;
  font-size: 5.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
  padding-top: 20px;
}
.user-profile  .bio {
  margin: auto;
  font-weight: bold;
  display: inline-block;
  margin-left: 5em;
  color: #e76043; 
  font-size: 3.5em;
  font-family: "varela round", sans-serif;
}
.user-profile > .description {
  margin: auto;
  margin-top: 2.00em;
  margin-right: 2.00em;
  padding-left: 0.8em;
  width: 20em;
  color:  #800000; 
  font-size: 3em;
  font-family:  Calibri;
}
.user-profile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 10.23em;
  width: 10.23em;
  border-radius: 18em;
}

.user-profile ul.data {
	margin: 2em auto;
	height: 3.70em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: 0 auto;
  padding: 1.30em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 100px;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
footer > h1 a {
  text-decoration: none;
  color: #ea4c89;
}

.social-link {
  float: right;
  -webkit-flex: 3;
   flex: 3;
}
.social-link ul {
  // width: 480px;
  padding: 10px;
  // margin: 0;
  // list-style: none;
  // position: relative;
  // top: 50%;
  // left: 80%;
  // transform: translate(-50%, -50%);
  width: 30vw;
}

.social-link ul li {
  border-bottom: 2px solid #e6e6e6;
  // position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.social-link ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #222;
  transition: 0.2s ease-in-out;
}
.social-link ul li a h3 {
  margin: 0 0 15px;
  font-size: 30px;
  font-weight: 900;
}
.social-link ul li a p {
  margin: 0;
  font-size: 20px;
  max-width: calc(100% - 110px);
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
.social-link  ul li a i {
  // position: absolute;
  // top: 50%;
  // right: 50px;
  transform: translatey(-50%);
  font-size: 20px !important;
  // opacity: 1;
}
.social-link  ul li.Twitter:hover {
  background-color:  #0077B5;
  color: #333;
}
.social-link  ul li.Dribbble:hover {
  background-color: #80ffaa;
}
.social-link  ul li.GitHub:hover {
  background-color: #333;
}
.social-link  ul li:hover {
  box-shadow: 0 10px 15px 0 #e6e6e6;
}
.social-link  ul li:hover > a {
  color: #fff;
}
.social-link  ul li:first-child {
  border-top: 2px solid #e6e6e6;
}



header h1 {
  font-size: 30px;
  text-indent: 40px;
  font-weight: bold;
}

.god-container {
  // display: flex;
  // display: -webkit-flex;
}

.god-container div {
    padding: 10px;
    float: left;
}